@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --body-bg: #292524;
    --nav-bg: #0C0A09;
    --primary: #EA580C;
    --secondary: #514D4A;
    --text: #FAFAF9;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  background: var(--body-bg);
  /* padding-inline-start: 12rem; */
  color: white;
}
